# Pandas Series

We are going to cover the followoing topics:
-> Series
-> Data Frame (moslty called Python's Excel)

In [1]:
import numpy as np
import pandas as pd

## Series

In [2]:
myDictionary = {"Omer":23,"Gamze":24,"Yasemin":22}

In [6]:
type(pd.Series(myDictionary))

pandas.core.series.Series

In [4]:
pd.Series(myDictionary)

Omer       23
Gamze      24
Yasemin    22
dtype: int64

In [8]:
ages=[50,40,30]
people=["Ömer","Yasemin","Yaren"]

In [9]:
pd.Series(ages)

0    50
1    40
2    30
dtype: int64

In [14]:
pd.Series(ages,people)

Ömer       50
Yasemin    40
Yaren      30
dtype: int64

In [13]:
pd.Series(people,ages)

50       Ömer
40    Yasemin
30      Yaren
dtype: object

In [15]:
pd.Series(index=people,data=ages)

Ömer       50
Yasemin    40
Yaren      30
dtype: int64

In [16]:
numpyArray = np.array([10,20,30])
pd.Series(numpyArray)   #you can convert numpyArra to Pandas Series

0    10
1    20
2    30
dtype: int32

list,dict,array => pandas series

## Features of Series
You can generate Pandas Series like this:

In [5]:
pd.Series(data=["Ömer","Ayşe","Yasemin"],index=[1,2,3])

1       Ömer
2       Ayşe
3    Yasemin
dtype: object

Let's say, we are in a contest

In [7]:
contestResult = pd.Series([10,5,1],["Ömer","Ayşe","Yasemin"])
contestResult

Ömer       10
Ayşe        5
Yasemin     1
dtype: int64

In [8]:
contestResult2 = pd.Series([20,6,5],["Ömer","Ayşe","Yasemin"])
contestResult2

Ömer       20
Ayşe        6
Yasemin     5
dtype: int64

### Call the Value

In [9]:
contestResult["Ömer"]

10

### Summing series
->Let's sum the series that have same indexes

In [10]:
totalResult = contestResult+contestResult2
totalResult

Ömer       30
Ayşe       11
Yasemin     6
dtype: int64

->Let's sum the series that have different indexes

In [11]:
contestResult = pd.Series([10,5,1],["Ömer","Ayşe","Yasemin"])
contestResult2 = pd.Series([10,2,6],["Ömer","Ayşe","Yaren"])
totalResult = contestResult+contestResult2
totalResult

Ayşe        7.0
Yaren       NaN
Yasemin     NaN
Ömer       20.0
dtype: float64

It just summed the values in both places.